<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/user" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        <!-- <a class="nav-item nav-link" routerLink="/logins" routerLinkActive="active">Login1</a> -->
        <a class="nav-item nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a> 
       <!-- <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact</a> -->
        <!-- <a class="nav-item nav-link" routerLink="/bypasssecurity" routerLinkActive="active">Bypasssecurity</a> --> -->
    </div> 

<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
   
  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
</mat-toolbar>
</nav>
</header>